* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --color-title: hsl(217, 19%, 35%);
  --color-paragraph: hsl(214, 17%, 51%);
  --color-date: hsl(212, 23%, 69%);
  --body-bg: hsl(210, 46%, 95%);
  font-size: 13px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 56rem;
  min-height: 22rem;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  margin: 0 2rem;
  box-shadow: 11px 40px 44px -11px rgba(0,0,0,0.08);
}

.container-img {
  width: 40%;
}

.container-img  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0;
  border-radius: 10px 0 0 10px;
}

.info-container {
  width: 60%;
  padding: 4.5%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  font-size: 13px;
}

.info-container h1 {
  color: var(--color-title);
  font-size: 1.55rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.info-container p {
  color: var(--color-paragraph);
  font-size: 1em;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.user-container-left {
  display: flex;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
}

.user-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
  margin-left: 1.5rem;
}

.user-text span:first-child {
  font-weight: 700;
  font-size: 1em;
  color: var(--color-title);
  margin-bottom: .1rem;
}

.user-text span:last-child {
  color: var(--color-date);
  font-size: 1em;
}

.share-option {
  position: relative;
}

.container-icon-share {
  background-color: var(--body-bg);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.icon-share {
  width: 1.2rem;
  height: 1.2rem;
  transition: all .15s;
}

.icon-share:hover {
  transform: scale(1.1);
}

.share-container {
  --scale:0;
  position: absolute;
  bottom: calc(100% + 25px);
  left: 50%;
  transform: translate(-50%, 0) scale(var(--scale));
  transform-origin: bottom;
  background-color: var(--color-title);
  padding: 17px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  transition: all .3s;
  border-radius: 10px;
  visibility: hidden;
}

.share-container::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--color-title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  display: flex;
}

.share-container--active-mobile {
  --scale:1;
  visibility: visible;
}

.share-container span {
  color: var(--color-date);
  letter-spacing: .4rem;
}

.container-icon-share--active {
  background-color: var(--color-paragraph) !important;
}

.share-container img {
  cursor: pointer;
  transition: all .15s;
}

.share-container img:hover {
  transform: translateY(-4px);
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 0.75rem;
  }

  main {
    flex-direction: column;
    margin: 6rem 2rem;
    overflow: hidden;
  }

  .container-img  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0px;
  }

  .container-img {
    width: 100%;
    height: 17rem;
  }

  .info-container {
    width: 100%;
    padding: 3rem 3rem 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .info-container h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .info-container p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    line-height: 1.8rem;
  }

  .share-option {
    position: initial;
  }

  .share-container {
    --scale:1;
    --translateX: 0;
    --translateY: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(var(--translateX),var(--translateY)) scale(var(--scale));
    padding: 28px 40px;
    border-radius: 0 0 10px 10px;
    visibility: hidden;
    z-index: 0;
  }
  
  .share-container--active-mobile {
    --translateY: 0;
    visibility: visible;
  }

  .share-container::after {
    display: none;
  }
}